{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load ratings %}

{% block content %}
<div class="container" style="margin-top:6%">
    <h5 class="mb-4 mt-4">{{ all_projects.title }} by {{ all_projects.user.username }} from {{ all_projects.user }} <span
            id="heart"> <i class="fas fa-heart"></i></span></h5>

    <div class="card">
        <div class="view overlay">
            <img class="card-img-top" style="visibility:hidden" width="100%"
                 src="{{ post.image.url }}-/crop/1440x720/center/-/quality/lightest/" alt="{{image.title}}">
            <a href="">
                <div class="mask rgba-black-slight">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <img src="{{project.image.url}}" alt="">
                            </div>
                            <div class="col-md-3">
                                <h1>{{project.title}}</h1>
                                <p>{{project.details}}</p>
                                <p>Posted_by:{{project.user}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            
    
            </div>
        </div>
        <div class="card-body">
            <h6 class="card-title"><strong>{{post.title|title}}</strong>
                <a href="{{ post.url }}" style="float:right" class="btn btn-sm btn-info mr-4"> Visit </a></h6>
            <p>by <span><a href="" id="usern" class="mr-2">{{ user.username }}</a></span>
            </p>
            <p>{{ project.details }}</p>
            <hr>
            {% if user.is_authenticated %}
            
            {% endif %}
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h1>Rate this project</h1>
            </div>
            <div class="mr-5">
                <div>
                    <h6 class="text-center"><em>Usability</em></h6>
                </div>
                {% ratings project icon_height=20 icon_width=20 %}
            </div>
            <div class="mr-5">
                <div>
                    <h6 class="text-center"><em>Design</em></h6>
                </div>
                {% ratings project icon_height=20 icon_width=20 %}
            </div>
            <div class="">
                <div>
                    <h6 class="text-center"><em>Content</em></h6>
                </div>
                {% ratings project icon_height=20 icon_width=20 %}    
        </div>

    </div>
</div>
{% endblock %}
